<div class="view">
  <li
    [ngClass]="{ editing: isEditableProps }"
    class="todoItem"
    textDecorationLineThrough
    [isCompleted]="isCompleted"
  >
    <mat-checkbox
      [ngClass]="{ editing: isEditableProps }"
      (change)="toggleTodo($event)"
      [checked]="todoProps.isCompleted"
      color="primary"
    ></mat-checkbox>

    <label (dblclick)="setTodoInEditMode()">
      {{ todoProps.text | upperCasePipe }}
    </label>

    <ng-container *ngIf="isEditableProps">
      <mat-form-field class="edit">
        <input
          matInput
          type="text"
          #textInput
          [value]="editingText"
          (keyup)="changeText($event)"
          (keyup.enter)="changeTodo()"
        />
      </mat-form-field>
    </ng-container>

    <button
      (click)="removeTodo(todoProps.id)"
      class="delete"
      mat-fab
      color="primary"
    ></button>
  </li>
</div>
